<app-header></app-header>
<main class="pb-16">
  <h1 class="">Liste des sessions de formation - Présentiel</h1>


  <!--  <div class="justify-start">-->
  <!--    <input-->
  <!--      type="text"-->
  <!--      [(ngModel)]="searchTerm"-->
  <!--      (input)="onSearch()"-->
  <!--      placeholder="Recherche une session"-->
  <!--      class="text-[var(&#45;&#45;color-text-input)] border p-2 rounded w-64">-->
  <!--  </div>-->


  <!-- Zone 1 - formulaire et boutons -->

  <div class="flex flex-col gap-6 justify-center items-center mt-8 mb-8 md:flex-row md:items-start md:gap-16">
    <!-- Bloc formulaire -->
    <div
      class="bg-[var(--color-bg-form)] border-[1.5px]  shadow-md rounded-lg px-4 py-6 w-full max-w-[95vw]
md:min-w-[450px] md:max-w-[940px] flex flex-col md:flex-row md:items-center md:mr-12">
      <!-- Colonne gauche du formulaire (inputs) -->
      <div class="flex flex-col gap-3 grow md:pr-6">
        <h2 class="text-left">Filtrer les sessions</h2>
        <div class="flex flex-col sm:flex-row gap-3">
          <input type="text"
                 [(ngModel)]="searchTerm"
                 (input)="onSearch()"
                 placeholder="Rechercher"
                 class="border px-2 py-1 rounded text-gray-700 w-full sm:w-64 mb-2 text-[var(--color-text-input)]"/>
          <select class="border px-2 py-1 rounded w-full sm:w-56 text-gray-700 mb-2">
            <option>Choisir le filtre</option>
            <option></option>
          </select>
        </div>
        <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2 sm:gap-3">
          <label>Entre</label>
          <input type="date" class="border p-2 rounded w-full sm:w-48 text-[var(--color-text-input)]"/>
          <label>Et</label>
          <input type="date" class="border p-2 rounded w-full sm:w-48 text-[var(--color-text-input)]"/>
        </div>
        <div class="flex flex-row items-center gap-2">
          <label for="moins6">Sessions inférieures à 6 apprenants</label>
          <input type="checkbox" id="moins6"/>
        </div>
      </div>
      <!-- Bouton rechercher -->
      <div class="flex justify-center md:justify-end md:items-center mt-4 md:mt-0">
        <button
          class="w-full bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
          hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center px-6 rounded-md">
          Rechercher
        </button>
      </div>
    </div>

    <!-- Zone boutons à droite ou dessous -->
    <div class="flex flex-col gap-4 w-full md:w-72 self-center">
      <button
        class="w-full bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md">
        Afficher les sessions en distanciel
      </button>
      <button
        class="w-full bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md">
        Ajouter facture
      </button>
      <button routerLink="/ajouterSessionFormationPresentiel"
              class="w-full bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md">
        Ajouter une session de formation
      </button>
    </div>
  </div>


  <!-- Zone 2 - Affichage des sessions de formation en présentiel sous forme de tableau -->
  <div class="p-4 w-full max-h-[32rem] overflow-x-auto overflow-y-auto mb-8">
    <table class="table-auto min-w-max border border-gray-300 border-separate">
      <thead class="bg-gray-100 divide-x divide-gray-300">
      <tr>
        <th>Nb inscrit</th> <!-- récupérer avec une requête -->
        <th>Nb confirmé</th> <!-- récupérer avec une requête -->
        <th>N° YODA</th> <!-- numéro de la session de formation - unique -->
        <th>Intitulé de la formation</th> <!-- ex : MIMEDCHA040125 -->
        <th>Statut Yoda</th> <!-- Par défaut DO -->
        <th>Traitement dossier</th><!-- Salarié(e) qui traite le dossier -->
        <th>Statut formation</th> <!-- Statut si fin de session de formation -->
        <th>Date limite Yoda</th> <!-- Date limite si fin de session de formation -->
        <th>Thème</th> <!-- theme de la formation -->
        <th>Libellé</th> <!-- libellé de la formation -->
        <th>Département</th> <!-- département de la session de formation -->
        <th>Lieu</th> <!-- lieu de la salle ou ville principale -->
        <th>Durée</th> <!-- durée totale en heure de la session de formation - 7 - 14 - 21 ...-->
        <!-- Mettre une condition en fonction du nombre de jours - pour le présentiel -->
        <th>J1</th>
        <th>J2</th>
        <th>J3</th>
        <th>...</th>
        <th>Commanditaire</th> <!-- Champs libre -->
        <th>RPE</th>
        <th>Formateur</th> <!-- Liste de formateurs avec statut dans la même colonne ? -->
        <th>Commentaire Formateur</th>
        <th>Coût formateur</th>
        <th>Lieu de formation</th> <!-- Accès liste de salle -  où se trouve la formation -->
        <th>Commentaire salle</th>
        <th>Coût salle</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-300">
        @for (session of sessions; track session.idSessionFormation) {

          <!--          @if (statutFinSessionFormationDetails[session.finSessionFormation?.statutFinSessionFormation || ? '']?.label == 'Formation terminée') {-->
          <tr class="divide-x divide-gray-300 odd:bg-gray-50">
            <!--                [style.background-color]="statutSessionFormationDetails[session.statutSessionFormation]?.color">-->
            <!--              } else {-->
            <!--          <tr class="divide-x divide-gray-300">-->
            <!--            }-->
            <td>---</td><!-- récupérer le nombre d'inscrit avec une requête -->
            <td>---</td><!-- récupérer le nombre de confirmée avec une requête -->
            <td [style.background-color]="statutSessionFormationDetails[session.statutSessionFormation].color">
              {{ session.noYoda }}
            </td>
            <td
              [style.background-color]="statutSessionFormationDetails[session.statutSessionFormation].color">
              {{ session.libelleSessionFormation }}
            </td>
            <td class="text-center">{{ session.statutYoda }}</td>
            <td class="text-center" [style.background-color]="session.salarie?.couleurSalarie">
              {{ session.salarie?.nom | firstLetterUpper }}{{ session.salarie?.prenom | firstLetterUpper }}
            </td><!-- Salarié(e) qui traite le dossier -->
            <td>{{ session.finSessionFormation?.statutFinSessionFormation }}</td>
            <td>{{ session.finSessionFormation?.dateLimiteYodaFinSessionFormation }}</td>
            <td>{{ session.formation?.themeFormation }}</td>
            <td>{{ session.formation?.libelleFormation }}</td>
            <td class="text-center"
                [style.background-color]="session.departement?.couleurDepartement">{{ session.departement?.numDepartement }}
            </td>
            <td>{{ session.lieuSessionFormation }}</td><!-- lieu de la salle ou ville principale -->
            <td class="text-center">{{ session.nbHeureSession }}</td>
            <!-- Mettre une condition en fonction du nombre de jours - pour le présentiel -->
            <td>{{ session.dateDebutSession | date:'dd-MM-yyyy' }}</td>
            <td>---</td> <!-- J2 -->
            <td>---</td> <!-- J3 -->
            <td>---</td> <!-- JN -->
            <td>{{ session.commanditaire }}</td> <!-- Commanditaire - champ modifiable -->
            <td>{{ session.confirmationRPE }}</td> <!-- RPE - champ modifiable -->
            <td>
              @for (sessionFormateur of session.sessionsFormateur; track sessionFormateur.idSessionFormateur) {
                <div
                  [style.background-color]="statutSessionFormateurDetails[sessionFormateur.statutSessionFormateur].color">
                  {{ sessionFormateur.formateur.prenom }} {{ sessionFormateur.formateur.nom }}
                  - {{ sessionFormateur.formateur.statutFormateur }}
                </div>
              }</td>
            <td>  @for (sessionFormateur of session.sessionsFormateur; track sessionFormateur.idSessionFormateur) {
              <div>
                {{ sessionFormateur.commentaireSessionFormateur }} <!-- commentaire formateur - champ modifiable -->
              </div>
            }</td>
            <td>  @for (sessionFormateur of session.sessionsFormateur; track sessionFormateur.idSessionFormateur) {
              <div>
                {{ sessionFormateur.coutSessionFormateur }} <!-- Coût formateur - champ modifiable -->
              </div>
            }</td>
            <td> @for (sessionSalle of session.sessionsSalle; track sessionSalle.idSessionSalle) {
              <div
                [style.background-color]="statutSessionSalleDetails[sessionSalle.statutSessionSalle].color"
              >
                {{ sessionSalle.salle?.nomSalle }} <!-- Coût salle - champ modifiable -->
              </div>
            } </td>
            <td>@for (sessionSalle of session.sessionsSalle; track sessionSalle.idSessionSalle) {
              <div>
                {{ sessionSalle.commentaireSessionSalle }} <!-- Commentaire salle - champ modifiable -->
              </div>
            }</td>
            <td>@for (sessionSalle of session.sessionsSalle; track sessionSalle.idSessionSalle) {
              <div>
                {{ sessionSalle.coutSessionSalle }} <!-- Coût salle - champ modifiable -->
              </div>
            }</td>

          </tr>
        } @empty {
          <tr>
            <td colspan="23"> Aucune session de formation n'a été trouvée.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Zone sous le tableau -->
  <!--  <div class="mt-8 w-full max-w-[95vw] px-4 flex justify-start">-->

  <!--  </div>-->

</main>
<app-footer></app-footer>
