<app-header></app-header>
<main class="pb-16">
  <h1 class="">Ajouter une session de formation en présentiel</h1>

  <div class="space-y-12">
    <!-- Formulaire -->
    <form [formGroup]="sessionPresentielForm" (ngSubmit)="onSubmit()"
          class="bg-[var(--color-bg-form)] border-[1.5px]  shadow-md rounded-lg px-4 py-6 m-4 max-w-7xl mx-auto">


      <div class="mt-5 grid grid-cols-3 gap-4">

        <!-- Colonne 1 - 7 rangs -->
        <div class="space-y-4">

          <!-- rang 1 -->
          <div>
            <label for="noYoda" class="block text-sm/6 font-medium ">N°YODA</label>
            <input id="noYoda" type="text" formControlName="noYoda"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Numéro AF Yoda"/>
            @if (sessionPresentielForm.controls['noYoda'].hasError('maxLength') && sessionPresentielForm.controls['noYoda'].touched) {
              <p class="text-red-600 text-sm mt-1">Le numéro de Yoda ne doit pas dépasser 30 caractères.</p>
            }
          </div>


          <!-- rang 2 -->
          <div>
            <label for="intituleSessionF" class="block text-sm/6 font-medium ">Intituté de la session de
              formation *</label>
            <input id="intituleSessionF" type="text" formControlName="intituleSessionF"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Intitulé de la session de formation"/>
            @if (sessionPresentielForm.controls['intituleSessionF'].hasError('required') && sessionPresentielForm.controls['intituleSessionF'].touched) {
              <p class="text-red-600 text-sm mt-1"> Le libellé de la session de formation est obligatoire.</p>
            }
            @if (sessionPresentielForm.controls['intituleSessionF'].hasError('maxlength') && sessionPresentielForm.controls['intituleSessionF'].touched) {
              <p class="text-red-600 text-sm mt-1"> Le libellé de la session de formation ne doit pas dépasser 50
                caractères.</p>
            }
          </div>

          <!-- rang 3 -->
          <div>
            <label for="idSalarieChoisi" class="block text-sm/6 font-medium ">Dossier traité par *</label>

            <select formControlName="idSalarieChoisi" id="idSalarieChoisi"
                    class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                    title="Dossier traité par">
              @for (salarie of salaries; track salarie.idSalarie) {
                <option [value]="salarie.idSalarie">{{ salarie.prenom }} {{ salarie.nom }}</option>
              }
            </select>
            @if (sessionPresentielForm.controls['idSalarieChoisi'].hasError('required') && sessionPresentielForm.controls['idSalarieChoisi'].touched) {
              <p class="text-red-600 text-sm mt-1">Le salarié qui traite de le dossier est obligatoire.</p>
            }
          </div>
          <!-- rang 4 -->
          <div>
            <label for="dateLimiteYoda" class="block text-sm/6 font-medium ">Date limite Yoda</label>
            <input id="dateLimiteYoda" type="date" formControlName="dateLimiteYoda"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Date limite Yoda"/>
<!--            @if (sessionPresentielForm.controls['dateLimiteYoda'].hasError('pattern') && sessionPresentielForm.controls['dateLimiteYoda'].touched) {-->
<!--              <p class="text-red-600 text-sm mt-1">La date limite Yoda doit être au format date.</p>-->
<!--            }-->
          </div>
          <!-- rang 5 -->
          <div>
            <label for="themeSessionF" class="block text-sm/6 font-medium ">Thème de la formation *</label>

            <select id="themeSessionF"
                    formControlName="idFormationChoisie"
                    class="min-w-64 rounded-md py-1.5 pr-8 pl-3 min-h-9 bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border">
              @for (formation of formations; track formation.idFormation) {
                <option [value]="formation.idFormation"> {{ formation.themeFormation }}</option>
              }
              @if (formations.length === 0) {
                <option disabled>Aucune formation disponible</option>
              }
            </select>
            @if (sessionPresentielForm.controls['idFormationChoisie'].hasError('required') && sessionPresentielForm.controls['idFormationChoisie'].touched) {
              <p class="text-red-600 text-sm mt-1">La formation doit être sélectionnée.</p>
            }

          </div>
          <!-- rang 6 -->
          <div>
            <label for="intituleFormation" class="block text-sm/6">Intitulé de la formation *</label>

            <input id="intituleFormation"
                   [value]="libelleFormationSelectionnee"
                   class="min-w-80 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Intitulé de la formation"
                   readonly/>
          </div>
        </div>
        <!-- Fin colonne 1-->

        <!-- Colonne 2 - 6 rangs -->
        <div class="space-y-4">
          <!-- rang 1 - Thème récupéré parmi la liste des formations en présentiel-->
          <div>
            <label for="noDepartement" class="block text-sm/6 font-medium ">Département *</label>
            <select formControlName="idDepartementChoisi" id="noDepartement"
                    class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 min-h-9
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                    title="Numéro des départements bretons.">
              @for (departement of departements; track departement.idDepartement) {
                <option [value]="departement.idDepartement">{{ departement.numDepartement }}</option>
              }
            </select>
            @if (sessionPresentielForm.controls['idDepartementChoisi'].hasError('required') && sessionPresentielForm.controls['idDepartementChoisi'].touched) {
              <p class="text-red-600 text-sm mt-1">Le numéro du département doit être sélectionné.</p>
            }
          </div>
          <!-- rang 2 -->
          <div>
            <label for="lieuFormation" class="block text-sm/6">Lieu de la formation</label>
            <input id="lieuFormation" type="text" formControlName="lieuFormation"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Lieu de la formation"/>
            @if (sessionPresentielForm.controls['lieuFormation'].hasError('maxlength') && sessionPresentielForm.controls['lieuFormation'].touched) {
              <p class="text-red-600 text-sm mt-1">Le lieu de formation ne doit pas dépasser 100 caractères.</p>
            }
          </div>
          <!-- rang 3 -->
          <div>
            <label for="dateDebutSession" class="block text-sm/6">Date de début *</label>
            <input id="dateDebutSession" type="date" formControlName="dateDebutSession"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 max-h-8
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Date de début de la session de formation."/>
            @if (sessionPresentielForm.controls['dateDebutSession'].hasError('required') && sessionPresentielForm.controls['dateDebutSession'].touched) {
              <p class="text-red-600 text-sm mt-1">La date de début de session est obligatoire.</p>
            }
          </div>

          <!-- rang 4 -->
          <div>
            <label for="nbHeureSession" class="block text-sm/6">Durée totale en heure *</label>
            <input id="nbHeureSession" type="number" formControlName="nbHeureSession" min="1" max="100" step="1"
                   class="min-w-64 rounded-md  py-1.5 pr-2 pl-3 max-h-9
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Durée total en heure de la formation"/>
            @if (sessionPresentielForm.controls['nbHeureSession'].hasError('min') && sessionPresentielForm.controls['nbHeureSession'].touched) {
              <p class="text-red-600 text-sm mt-1">Le nombre d'heure doit être supérieur à 1.</p>
            }
            @if (sessionPresentielForm.controls['nbHeureSession'].hasError('max') && sessionPresentielForm.controls['nbHeureSession'].touched) {
              <p class="text-red-600 text-sm mt-1">Le nombre d'heure ne doit pas dépasser 100.</p>
            }
          </div>
          <!-- rang 5 -->
          <div>
            <label for="commanditaire" class="block text-sm/6">Commanditaire</label>
            <input id="commanditaire" type="text" formControlName="commanditaire"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 max-h-9
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Commanditaire de la formation"/>
            @if (sessionPresentielForm.controls['commanditaire'].hasError('max') && sessionPresentielForm.controls['commanditaire'].touched) {
              <p class="text-red-600 text-sm mt-1">Le champ commanditaire ne doit pas dépasser 125 caractères.</p>
            }
          </div>

          <!-- rang 6-->
          <div>
            <label for="RPE" class="block text-sm/6">Confirmation au RPE</label>
            <input id="RPE" type="text" formControlName="RPE"
                   class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                   title="Confirmation au RPE"/>
            @if (sessionPresentielForm.controls['RPE'].hasError('maxlength') && sessionPresentielForm.controls['RPE'].touched) {
              <p class="text-red-600 text-sm mt-1">Le nombre de caractères ne doit pas dépasser 255.</p>
            }
          </div>
        </div>
        <!-- Fin colonne 2-->


        <!-- 3ème colonne - avec au minimum 2 rangs jusqu'à 7 rangs -->
        <div class="space-y-4">
          <!-- rang 1 -->
          <div class="flex items-center gap-2 w-full">
            <label for="nbJournee" class="block text-sm/6 min-w-24">Nombre de journées</label>
            <input id="nbJournee" type="number" formControlName="nbJournee" step="1" min="0" max="5"
                   placeholder="0"
                   class="min-w-16 rounded-md  py-1.5 pr-2 pl-3 max-h-10
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"/>
          </div>
          <!-- rang 2 ++ -->
          @if (journees.length > 0) {
            <div formArrayName="journees">
              @for (journee of journees.controls; track journee; let i = $index) {
                <div [formGroupName]="i" class="mb-6">
                  <label for="journee"
                         class="text-sm/6 font-bold text-[var(--color-bg-button)]">Journée {{ i + 1 }}
                  </label>

                  <div class="flex items-center gap-2 w-full">
                    <label for="dateJournee{{i}}" class="text-sm/6 min-w-16">Date *</label>
                    <input id="dateJournee{{i}}" type="date" formControlName="date"
                           class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"/>
<!--                    @if (sessionPresentielForm.controls['date'].hasError('required') && sessionPresentielForm.controls['date'].touched) {-->
<!--                      <p class="text-red-600 text-sm mt-1">La date est obligatoire.</p>-->
<!--                    }-->
                  </div>
                  <div class="flex items-center gap-2 w-full">
                    <label for="formateurJournee{{i}}" class="text-sm/6 min-w-16">Formateur</label>
                    <select id="formateurJournee{{i}}" formControlName="formateur"
                            class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border">
                      <!-- boucler sur les thèmes en présentiel -->
                    </select>
                  </div>
                  <div class="flex items-center gap-2 w-full">
                    <label for="SalleJournee{{i}}" class="text-sm/6 min-w-16">Salle</label>
                    <select id="SalleJournee{{i}}" formControlName="salle"
                            class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border">
                      <!-- boucler sur les thèmes en présentiel -->
                    </select>
                  </div>
                </div>
              }
            </div>
          }
        </div>
        <!-- Fin colonne 3 -->
      </div>

      <div class="text-center mt-8">
        <button type="button"
                routerLink="/listeSessionFormationPresentiel"

                class="min-w-64 bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md mr-8">
          Retour
        </button>
        <button type="submit"
                class="min-w-64 bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md ml-8">
          Enregistrer
        </button>
      </div>
      <span class="text-left text-[var(--color-title-purple)] text-sm/6">* Champs obligatoires</span>
    </form>
    <!-- Fin du formulaire -->

  </div>

</main>

<app-footer></app-footer>
