<app-header></app-header>
<main class="pb-16">
  <h1 class="">Ajouter une session de formation en présentiel</h1>

  <div class="space-y-12">
    <!-- Formulaire -->
    <div
      class="bg-[var(--color-bg-form)] border-[1.5px]  shadow-md rounded-lg px-4 py-6 m-4 max-w-7xl mx-auto">

      <div class="mt-5 grid grid-cols-3 gap-4">

        <!-- Colonne 1 - 7 rangs -->
        <div class="space-y-4">

          <!-- rang 1 -->
          <div>
            <label for="noYoda" class="block text-sm/6">N°YODA</label>
            <div class="mt-2">
              <input id="noYoda" type="text" name="noYoda"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border" title="Numéro AF Yoda"/>
            </div>
          </div>

          <!-- rang 2 -->
          <div>
            <label for="intituleSessionF" class="block text-sm/6 font-medium ">Intituté de la session de
              formation</label>
            <div class="mt-2">
              <input id="intituleSessionF" type="text" name="intituleSessionF"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Intitulé de la session de formation"/>
            </div>
          </div>
          <!-- rang 3 -->
          <div>
            <label for="ttDossier" class="block text-sm/6 font-medium ">Dossier traité par</label>
            <div class="mt-2">
              <select [(ngModel)]="idSalarieChoisi" id="idSalarieChoisi" name="idSalarieChoisi"
                      class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                      title="Dossier traité par">
                @for (salarie of salaries; track salarie.idSalarie) {
                  <option value="{{salarie.idSalarie}}">{{ salarie.prenom }} {{ salarie.nom }}</option>
                }
              </select>
            </div>
          </div>
          <!-- rang 4 -->
          <div>
            <label for="BI" class="block text-sm/6 font-medium ">Bulletin d'inscription</label>
            <div class="mt-2">
              <select id="BI" name="BI"
                      class="min-w-64 rounded-md  py-1.5 pr-8 pl-3 bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                      title="Bulletin d'inscription">
                <option value="1">OUI</option>
                <option value="0">NON</option>
              </select>
            </div>
          </div>
          <!-- rang 5 -->
          <div>
            <label for="dateLimiteYoda" class="block text-sm/6 font-medium ">Date limite Yoda</label>
            <div class="mt-2">
              <input id="dateLimiteYoda" type="text" name="dateLimiteYoda"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Date limite Yoda"/>
            </div>
          </div>
          <!-- rang 6 -->
          <div>
            <label for="themeSessionF" class="block text-sm/6 font-medium ">Thème de la formation</label>
            <div class="mt-2">
              <ng-select
                [(ngModel)]="idFormationChoisie"
                [items]="formations"
                bindLabel="themeFormation"
                bindValue="idFormation"
                placeholder="Chercher un thème"
                [searchable]="true"
                (change)="updateLibelleFormation()"
                class="min-w-64 rounded-md py-1.5 pr-8 pl-3 bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                title="Thème de la formation">
<!--                @for (formation of formations; track formation.idFormation) {-->
<!--                  <option [value]="formation.idFormation">-->
<!--                    {{ formation.themeFormation }}-->
<!--                  </option>-->
<!--                }-->
              </ng-select>
            </div>

          </div>
          <!-- rang 7 -->
          <div>
            <label for="intituleFormation" class="block text-sm/6">Intitulé de la formation</label>
            <div class="mt-2">
              <input id="libelleSessionF"
                     name="libelleSessionF"
                     [value]="libelleFormationSelectionnee"
                     class="min-w-80 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Libellé de la formation"
                     readonly/>
            </div>
          </div>
        </div>
        <!-- Fin colonne 1-->

        <!-- Colonne 2 - 7 rangs -->
        <div class="space-y-4">
          <!-- rang 1 - Thème récupéré parmi la liste des formations en présentiel-->
          <div>
            <label for="noDepartement" class="block text-sm/6 font-medium ">Département</label>
            <div class="mt-2">
              <select id="noDepartement" name="noDepartement"
                      class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                      title="Numéro des départements bretons.">
                <option value="21">22</option>
                <option value="28">29</option>
                <option value="36">35</option>
                <option value="57">56</option>
              </select>
            </div>
          </div>
          <!-- rang 2 -->
          <div>
            <label for="lieuFormation" class="block text-sm/6">Lieu de la formation</label>
            <div class="mt-2">
              <input id="lieuFormation" type="text" name="lieuFormation"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Lieu de la formation"/>
            </div>
          </div>
          <!-- rang 3 -->
          <div>
            <label for="dureeFormation" class="block text-sm/6">Durée total en heure</label>
            <div class="mt-2">
              <input id="dureeFormation" type="number" name="dureeFormation" min="0" max="100" step="1"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Durée total en heure de la formation"/>
            </div>
          </div>
          <!-- rang 6 -->
          <div>
            <label for="commanditaire" class="block text-sm/6">Commanditaire</label>
            <div class="mt-2">
              <input id="commanditaire" type="text" name="commanditaire"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Commanditaire de la formation"/>
            </div>
          </div>
          <!-- rang 4 -->
          <div>
            <label for="RPE" class="block text-sm/6">Confirmation au RPE</label>
            <div class="mt-2">
              <input id="RPE" type="text" name="RPE"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"
                     title="Confirmation au RPE"/>
            </div>
          </div>

          <!-- rang 5 -->
          <div>
            <label for="nbJournee" class="block text-sm/6 ">Nombre de journées</label>
            <div class="mt-2">
              <input id="nbJournee" type="number" name="nbJournee" step="1" min="0" max="5"
                     class="min-w-64 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"/>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>
        <!-- Fin colonne 2-->


        <!-- 3ème colonne - avec au minimum 2 rangs jusqu'à 7 rangs -->
        <div class="space-y-4">
          <!-- rang 1 -->
          <div class="">
            <label for="journee1" class="text-sm/6 font-bold text-[var(--color-bg-button)]">Journée 1</label>
            <div class="flex items-center gap-2 w-full">
              <label for="dateJournee1" class="text-sm/6 min-w-16">Date</label>
              <input id="dateJournee1" type="date" name="dateJournee1"
                     class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border"/>
            </div>
            <div class="flex items-center gap-2 w-full">
              <label for="formateurJourneeN" class="text-sm/6 min-w-16">Formateur</label>
              <select id="formateurJourneeN" name="formateurJourneeN"
                      class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border">
                <!-- boucler sur les thèmes en présentiel -->
              </select>
            </div>
            <div class="flex items-center gap-2 w-full">
              <label for="SalleJourneeN" class="text-sm/6 min-w-16">Salle</label>
              <select id="SalleJourneeN" name="SalleJourneeN"
                      class="min-w-56 rounded-md  py-1.5 pr-8 pl-3
                    bg-pink-50 text-base text-[var(--color-text-input)] sm:text-sm/6 border">
                <!-- boucler sur les thèmes en présentiel -->
              </select>
            </div>
          </div>
          <!-- rang 3 -->
          <div class="">3</div>
          <!-- rang 4 -->
          <div class="">4</div>
          <!-- rang 5 -->
          <div class="">5</div>
          <!-- rang 6 -->
          <div class="">6</div>
          <!-- rang 7 -->
          <div class="">7</div>
        </div>
        <!-- Fin colonne 3 -->
      </div>

      <div class="text-center mt-8">
        <button routerLink="/listeSessionFormationPresentiel"
                class="min-w-64 bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md mr-8">
          Retour
        </button>
        <button routerLink="/enregistrerSessionFormationPresentiel"
                class="min-w-64 bg-[var(--color-bg-button)] text-[var(--color-text-button)] py-2 rounded
        hover:bg-[var(--color-bg-button-hover)] hover:text-[var(--color-text-button-hover)] text-center pl-6 rounded-md ml-8">
          Enregistrer
        </button>
      </div>
    </div>
    <!-- Fin du formulaire -->
  </div>

</main>

<app-footer></app-footer>
